<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload">Upload file</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>

    <form action="/upload-profile-pic" method="post" enctype="multipart/form-data">
        <input type="file" class="custom-file-input" name="profile_pic" />
        <input type="submit" value="Tải">
    </form><br>
    <form action="/upload-multiple-images" method="post" enctype="multipart/form-data">
        <input type="file" class="custom-file-input" name="multiple-images" multiple />
        <input type="submit" value="Tải">
    </form>
</body>
</html>
